In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [21]:


river= pd.read_csv("Hoppers Crossing-Hourly-River-Level.csv")
rain = pd.read_csv("Hoppers Crossing-Hourly-Rainfall.csv")

In [22]:
river.head()

             Date/Time  Level (m)
0  2018-12-02 17:00:00       1.61
1  2018-12-02 16:00:00       1.61
2  2018-12-02 15:00:00       1.62
3  2018-12-02 14:00:00       1.63
4  2018-12-02 13:00:00       1.63

In [23]:
rain.head()

             Date/Time  Current rainfall (mm)  Cumulative rainfall (mm)
0  2018-12-02 18:00:00                    0.0                       0.0
1  2018-12-02 17:00:00                    0.0                       0.0
2  2018-12-02 16:00:00                    0.0                       0.0
3  2018-12-02 15:00:00                    0.0                       0.0
4  2018-12-02 14:00:00                    0.0                       0.0

In [25]:
river.shape

(78822, 2)

In [27]:
rain.shape

(78848, 3)

In [28]:
rain.describe()

       Current rainfall (mm)  Cumulative rainfall (mm)
count           78844.000000              78847.000000
mean                0.049206                  0.586580
std                 0.765296                  2.770216
min                 0.000000                  0.000000
25%                 0.000000                  0.000000
50%                 0.000000                  0.000000
75%                 0.000000                  0.000000
max               110.000000                111.400000

In [30]:
df=pd.merge(rain,river,how='outer',on=['Date/Time'])

In [31]:
df.head()

,Date/Time,Current rainfall (mm),Cumulative rainfall (mm),Level (m)
0,2018-12-02 18:00:00,0.0,0.0,NaN
1,2018-12-02 17:00:00,0.0,0.0,1.61
2,2018-12-02 16:00:00,0.0,0.0,1.61
3,2018-12-02 15:00:00,0.0,0.0,1.62
4,2018-12-02 14:00:00,0.0,0.0,1.63

In [33]:
df['Cumulative rainfall (mm)']=df['Cumulative rainfall (mm)'].fillna(0)
df['Level (m)']=df['Level (m)'].fillna(0)
df.head()

,Date/Time,Current rainfall (mm),Cumulative rainfall (mm),Level (m)
0,2018-12-02 18:00:00,0.0,0.0,0.00
1,2018-12-02 17:00:00,0.0,0.0,1.61
2,2018-12-02 16:00:00,0.0,0.0,1.61
3,2018-12-02 15:00:00,0.0,0.0,1.62
4,2018-12-02 14:00:00,0.0,0.0,1.63

In [35]:
df=df.drop(columns =['Current rainfall (mm)','Date/Time'])
df.shape

(78850, 2)

In [36]:
x=df.iloc[:,:1].values
y=df.iloc[:, 1:2].values

In [39]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [42]:
from sklearn.linear_model import LinearRegression
regressor =LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression()

In [43]:
print(regressor.intercept_)

[1.44348876]

In [44]:
print(regressor.coef_)

[[0.01698111]]

In [45]:
y_pred=regressor.predict(x_test)

In [48]:

rainfall = []


rainfall_value = input("Enter the rainfall value: ")


rainfall.append([int(rainfall_value)])


print("Rainfall list:", rainfall)

Enter the rainfall value: 45
Rainfall list: [[45]]

In [49]:
predict_riverlevel = regressor.predict(rainfall)
print(predict_riverlevel)
if(predict_riverlevel>1.5):
    print("flood")
else:
    print("no flood")

[[2.20763861]]
flood